{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block pagetitle %} Todotastic! {% endblock pagetitle%}</title>
    <style>
      body {
        color: red;
      }
    </style>

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/todotastic.css' %}" rel="stylesheet" type="text/css">
  </head>

  <body class="container">

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <h1><a class="navbar-brand" href="/">Todotastic!</a></h1>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              {% comment %} <li class="nav-item">
                <a class="nav-link" href="#">Link A</a>
              </li> {% endcomment %}
            </ul>
            <form class="d-flex" action="{% url 'todo-add' %}" method="post">
                {% csrf_token %}
              <input class="form-control me-2 mt-2" placeholder="Add a todo!" aria-label="Add a todo" name="task">
              <button class="btn btn-outline-success mt-2" type="submit"><strong>+</strong></button>
            </form>
          </div>
        </div>
      </nav>

    <main>
        <div class='messages-wrapper mt-3'>
        {% if messages %}
            {% for message in messages %}
                <div{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        </div>
        {% block content %} {% endblock content %}
    </main>

    <footer></footer>

    <script src="{% static 'js/bootstrap.min.js' %}" type="text/javascript"></script>

</body>
</html>
