{% extends "base.html" %}

{% block pagetitle %} All the things {% endblock pagetitle %}

{% block content %}

<div class="container">
    <div class="row align-items-start">
        <div class="col-8 list-main-col-8">
            <ul class="list-group my-3">
            {% for todo in todos %}
            <li class="list-group-item">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-6">
                            <a href="{% url "todo-detail" todo.id %}">
                    <div class="row mt-3">
                        <div class="col-1 todo-deletion-button">
                            <form action="{% url 'todo-delete' todo.id %}" class="inline-form" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="id" value={{todo.id}}>
                                <button type="submit" class="btn btn-outline-secondary btn-sm">X</button>
                            </form>
                        </div>
                        <div class="col-5">
                            <a class="fs-5" href="{% url "todo-detail" todo.id %}">
                                {{ todo.task|truncatechars:90 }}
                            </a>
                        </div>
                        <div class="col-6 todo-completion-button">
                            {% if todo.completed %}
                            <span>
                                Done on {{ todo.date_completed|date|default:"who knows!" }}
                                <form action="{% url 'todo-complete-toggle' todo.id %}" class="inline-form" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="id" value={{todo.id}}>
                                    <button class="btn btn-secondary btn-sm">Undo</button>
                                </form>
                            </span>
                            {% else %}
                            <form action="{% url 'todo-complete-toggle' todo.id %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="id" value={{todo.id}}>
                                <button class="btn btn-primary btn-sm">Mark done</button>
                            </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </li>
            {% empty %}
                <li class="list-group-item">No to-dos!</li>
            {% endfor %}
            </ul>
        </div>
        <div class="col-4">
            <p class="list-group my-3">Extra features coming soon!</p>
        </div>
    </div>
</div>
{% endblock content %}


{% comment "Alterative way to do the above without |default" %}
on
{% if todo.date_completed %}
    {{ todo.date_completed|date }}
{% else %}
    who knows!
{% endif %}
{% endcomment %}
