{% extends "base.html" %}

{% block pagetitle %} All the things {% endblock pagetitle %}

{% block content %}

<div class="container">
    <div class="row align-items-start">
        <div class="col-8 list-main-col-8">
            <ul class="list-group my-3">
            {% for todo in todos %}
            <li class="list-group-item">
                <a href="{% url "todo-detail" todo.id %}">
                    {{ todo.task|truncatechars:90 }}
                </a>
                <span>Completed? {{ todo.completed|yesno }}</span>
            </li>
            {% empty %}
                <li class="list-group-item">No to-dos!</li>
            {% endfor %}
            </ul>
        </div>
        <div class="col-4">
            <p class="list-group my-3">Extra features coming soon!</p>
        </div>
    </div>
</div>
{% endblock content %}