{% extends "base.html" %}

{% block pagetitle %} All the things {% endblock pagetitle %}

{% block content %}

<div class="container my-3">
    <div class="row align-items-start">
        <div class="col-8 list-main-col-8">
            <ul class="list-group">
            {% for todo in todos %}
            <li class="list-group-item">
                <div class="container-fluid">
                    <div class="row mt-3">
                        <div class="col-1 todo-deletion-button">
                            <form action="{% url 'todo-delete' todo.id %}" class="inline-form" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="id" value={{todo.id}}>
                                <button type="submit" class="btn btn-outline-secondary btn-sm">X</button>
                            </form>
                        </div>
                        <div class="col-7">
                            <a class="fs-5" href="{% url "todo-detail" todo.id %}">{{ todo.task|truncatechars:90 }}</a>
                            {% if todo.date_due and not todo.completed %}
                            <span title="{% if todo.is_overdue %} OVERDUE! {% else %} Due {% endif %}{{todo.date_due|date}}">
                                {% if todo.is_overdue %}
                                💥
                                {% else %}
                                ⏰
                                {% endif %}
                            </span>
                            {% endif %}
                            <span>({{todo.get_priority_display}})</span>
                        </div>
                        <div class="col-4 todo-completion-button">
                            {% if todo.completed %}
                            <span>
                                Done on {{ todo.date_completed|date|default:"who knows!" }}
                                <form action="{% url 'todo-complete-toggle' todo.id %}" class="inline-form" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="id" value={{todo.id}}>
                                    <button class="btn btn-secondary btn-sm">Undo</button>
                                </form>
                            </span>
                            {% else %}
                            <form action="{% url 'todo-complete-toggle' todo.id %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="id" value={{todo.id}}>
                                <button class="btn btn-primary btn-sm">Mark done</button>
                            </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </li>
            {% empty %}
                <li class="list-group-item">No to-dos!</li>
            {% endfor %}
            </ul>
            {% if not todos %}
                {% comment %} Add an image here http://placekitten.com/200/300 {% endcomment %}
            {% endif %}
        </div>
        <div class="col-4">
            <h3>How's it going?</h3>
            <p>Progress so far:</p>
            <span class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="{{percentage_complete}}" aria-valuemin="0" aria-valuemax="100">
                <span class="progress-bar" style="width: {{percentage_complete}}%">{{percentage_complete}}%</span>
            </span>
            <div class="text-center mt-5">
                <div class="fs-3">Total left</div>
                <div class="fs-1 fw-bolder">{{incomplete_todos_count}}</div>
                <div class="fs-3">Total done</div>
                <div class="fs-1 fw-bolder">{{completed_todos_count}}</div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}


{% comment "Alternative way to do the above without |default" %}
on
{% if todo.date_completed %}
    {{ todo.date_completed|date }}
{% else %}
    who knows!
{% endif %}
{% endcomment %}
